<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Scruto - Home</title>
    

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='../static/bootstrap/css/bootstrap.min.css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<script type="text/javascript">
     window.suggestmeyes_loaded = true;
</script>
<style type="text/css">
  
  .heart{
    cursor: pointer;
  }
</style>
<script type="text/javascript">
  $('.like-btn #heart').on('click',function(){
    $(this).addClass('active-heart');
    $(this).removeClass('heart-inactive');
  });
</script>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript"> 
  var geocoder;
  var geocoder = new google.maps.Geocoder()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
  } 
  //Get the latitude and the longitude;
  function successFunction(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
      codeLatLng(lat, lng)

  }

  function errorFunction(){
      $('#messages').html("No results found");
  }

    function initialize() {
      geocoder = new google.maps.Geocoder();

  }

  function codeLatLng(lat, lng) {

    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
      console.log(results)
        if (results[1]) {
         //formatted address
        // alert(results[0].formatted_address)
        //find country name
             for (var i=0; i<results[0].address_components.length; i++) {
            for (var b=0;b<results[0].address_components[i].types.length;b++) {

            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                if (results[0].address_components[i].types[b] == "locality") {
                    //this is the object you are looking for
                    city= results[0].address_components[i];
                    break;
                }
            }
        }
        //city data
        /*$.ajax({
          type: "GET",
          url: '/',
          data: {lat,lng},
          success: function(data){
            alert(city.short_name);
          }
        });*//*
        $.get("/",
           {
               lat: lat ,
               long: lng
           },
           function(data, status){
               $( ".result" ).html( city.long_name );
           });*/
            $.getJSON( "http://13.76.243.123:8001/fetch?place="+city.long_name+"&ammenity=hospitals", function( data ) {
            var leng = data.results.length;
            for( i= 0 ; i< leng ; i++){
              $('.hotels').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data.results[i].id+'"><img class="hotel-img"src="static/img/hotel.jpg"/>'+data.results[i].name+'</a><div class="like-btn"><i id="heart" class="fa fa-heart heart-inactive"></i></div></h4></div><div id="'+data.results[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data.results[i].formatted_address+'List icons</li></ul></div></div></div>');
            }

           /* for (i=0 ;i <data2.length; i++){
              var items = [];
               $.each( data2, function() {
                 items.push( '<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data2[i].id+'"><img class="hotel-img"src="'+data2[i].icon+'"/>'+data2[i].name+'</a><div class="like-btn"><i class="fa fa-heart heart"></i></div></h4></div><div id="'+data2[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data2[i].formatted_address+'List icons</li></ul></div></div></div>' );
               });
               $('.hotels').html(items);
               };*/
           /* $('.hotels').html('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data[i].id+'"><img class="hotel-img"src="'+data[i].icon+'"/>'+data[i].name+'</a><div class="like-btn"><i class="fa fa-heart heart"></i></div></h4></div><div id="'+data[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data[i].formatted_address+'List icons</li></ul></div></div></div> '); */ 
          
            
        });
            $.getJSON( "http://13.76.243.123:8001/fetch?place="+city.long_name+"&ammenity=police", function( data3 ) {
            var leng = data3.results.length;
             for( i= 0 ; i< leng ; i++){
              $('.atms').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data3.results[i].id+'"><img class="hotel-img"src="static/img/atm.jpg"/>'+data3.results[i].name+'</a><div class="like-btn"><i id="heart" class="fa fa-heart heart-inactive"></i></div></h4></div><div id="'+data3.results[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data3.results[i].formatted_address+'List icons</li></ul></div></div></div>');
            }

           /* $('.hotels').html('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data[i].id+'"><img class="hotel-img"src="'+data[i].icon+'"/>'+data[i].name+'</a><div class="like-btn"><i class="fa fa-heart heart"></i></div></h4></div><div id="'+data[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data[i].formatted_address+'List icons</li></ul></div></div></div> '); */
          
            
        });
            $.getJSON( "http://13.76.243.123:8001/fetch?place="+city.long_name+"&ammenity=restaurant", function( data2 ) {
          var leng = data2.results.length;
           for( i= 0 ; i< leng ; i++){
            $('.restaurants').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data2.results[i].id+'"><img class="hotel-img"src="static/img/restaurant.jpg"/>'+data2.results[i].name+'</a><div class="like-btn"><i id="heart" class="fa fa-heart heart-inactive"></i></div></h4></div><div id="'+data2.results[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data2.results[i].formatted_address+'List icons</li></ul></div></div></div>');
          }
               
           /* $('.hotels').html('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data[i].id+'"><img class="hotel-img"src="'+data[i].icon+'"/>'+data[i].name+'</a><div class="like-btn"><i class="fa fa-heart heart"></i></div></h4></div><div id="'+data[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data[i].formatted_address+'List icons</li></ul></div></div></div> '); */

             
        });
            $.getJSON( "http://13.76.243.123:8001/fetch?place="+city.long_name+"&ammenity=bus_station", function( data3 ) {
             var leng = data3.results.length;
           for( i= 0 ; i< leng ; i++){
            $('.bars').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data3.results[i].id+'"><img class="hotel-img"src="static/img/bars.jpeg"/>'+data3.results[i].name+'</a><div class="like-btn"><i id="heart" class="fa fa-heart heart-inactive"></i></div></h4></div><div id="'+data3.results[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data3.results[i].formatted_address+'List icons</li></ul></div></div></div>');
          }
               
           /* $('.hotels').html('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#'+data[i].id+'"><img class="hotel-img"src="'+data[i].icon+'"/>'+data[i].name+'</a><div class="like-btn"><i class="fa fa-heart heart"></i></div></h4></div><div id="'+data[i].id+'" class="panel-collapse collapse in"><div class="panel-body"><ul class="fa-ul"><li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i>'+data[i].formatted_address+'List icons</li></ul></div></div></div> '); */
             
        });
            

        } else {
          $( ".result" ).html( "No results found" );
        }
      } else {
        $( ".result" ).html( "Please contact your provider" );
      }
    });
  }
   
</script> 
<!-- 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeYe4loaSnbCI3W2tNdw-MpORxDWJ4Lt8&callback=initMap">
   </script> -->

</head> 
<body onload="initialize()"> 
 <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/"><img style="max-width: 120px;margin-top: -10px;" src="static/img/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          
           <div class="icon-addon addon-lg">
           			
                <input type="text" class="search form-control" placeholder="Search for places..">
                    
            </div>
        </div>
    <!--     <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
      {% if result['loggedIn'] == True %}
        <li><a href="/profile">Hey <b> {{result['userInfo']['username']}}</b> <span class="sr-only">(current)</span></a></li>
        <li><a href="/logout" style="color: #3F51B5">Log Out <span class="sr-only">(current)</span></a></li>
        {%else%}
        <li class="active"><a href="/login"><i class="fa fa-user fa-2x"></i><span class="sr-only">(current)</span></a></li>
        {%end%}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h2 class="header"> Services for you 24x7.</h2>

<div class="dashboard">
	<div class="container">
		<div class="row">
    <p style="color: #fff;">Fetched location for <i class="fa fa-map-marker"></i>&nbsp;Vellore </p><!-- 
      <h3 ><i class="fa fa-search fa-1x"></i> Showing Places for <span class="result"></span></h3> -->
      <div class="tab-wrap">
  
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
      <label for="tab1"><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Hospitals</label>
      <div  class="tab-content"> 
      <div class="panel-group hotels" id="accordion">
     <!--  <div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse10">No results found</a></h4></div><div id="collapse10" class="panel-collapse collapse in"><div class="panel-body"></div></div></div> --> 
      </div>
    </div>
    </div>
     
    <input type="radio" name="tabs" id="tab2">
    <div class="tab-label-content" id="tab2-content">
      <label for="tab2"><i class="fa fa-cutlery"></i>&nbsp;&nbsp; Restaurants</label>
      <div class="tab-content">
      <div class="panel-group restaurants" id="accordion">
   <!--    <div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse10">No results found</a></h4></div><div id="collapse10" class="panel-collapse collapse in"><div class="panel-body"></div></div></div>  -->
      <!--   <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
              <img class="hotel-img"src="../static/img/hotel.jpg"/>Restaurant 1</a>
              <div class="like-btn"><i class="fa fa-heart heart"></i></div>
            </h4>
          </div>
          <div id="collapse10" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div> -->
      </div>
    </div>
    </div>
    <input type="radio" name="tabs" id="tab3">
    <div class="tab-label-content" id="tab3-content">
      <label for="tab3"><i class="fa fa-bus"></i>&nbsp;&nbsp;Bus Station</label>
      <div class="tab-content">
      <div class="panel-group bars" id="accordion">
     <!--  <div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse10">No results found</a></h4></div><div id="collapse10" class="panel-collapse collapse in"><div class="panel-body"></div></div></div>  -->
       <!--  <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
              <img class="hotel-img"src="../static/img/hotel.jpg"/>Bar 1</a>
              <div class="like-btn"><i class="fa fa-heart heart"></i></div>
            </h4>
          </div>
          <div id="collapse14" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div> -->
      </div>
      </div>
    </div>
  
     <input type="radio" name="tabs" id="tab4">
     <div class="tab-label-content" id="tab4-content">
      <label for="tab4"><i class="fa fa-car"></i>&nbsp;&nbsp; Police Stations</label>
      <div class="tab-content">   <div class="panel-group atms" id="accordion">
      <!-- <div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse10">No results found</a></h4></div><div id="collapse10" class="panel-collapse collapse in"><div class="panel-body"></div></div></div>  -->
       <!--  <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
              <img class="hotel-img"src="../static/img/hotel.jpg"/>ATM 1</a>
              <div class="like-btn"><i class="fa fa-heart heart"></i></div>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse in">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </div> -->
      </div></div>
    </div>
    
    <div class="slide"></div>
  
</div>
     			
		
		</div>
	
</div>
</div>

<!-- Hey....
This is the general homepage....
{% if result['loggedIn'] == True %}
<p>Your username : {{result['userInfo']['username']}}</p>
<p>Your password : {{result['userInfo']['password']}}</p>
<p>Your email : {{result['userInfo']['email']}}</p>
{%else%}
<h3>You are not logged in dude...</h3>
{%end%} -->
</body>

</html>
