body {
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
  background: #f2f2f2 !important; /* W3C */
}
.navbar-default{
	background-color: #fff !important;
    border-color: none;
    border : none;
} 
.search{
	background: #f2f2f2;
	border-radius: 20px;
	width: 300px !important;
	    margin-left: 250px;


}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: none !important;
    border-top: none !important;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
	padding-right: 500px;
}
.panel-title{
	    font-size: 26px;
}
.panel{
	    padding: 38px;
}
.collapse.in {
    display: block;
    background: #f2f2f2;
    border-radius: 4px;
    margin-top: 5px;
 }
 .active-heart{
 	color: red;
 }
.header{
	margin: 0 auto;
	font-weight: 400;
	font-size: 44px;
	font-family: Montserrat;
	color: #E8EAF6;
	padding: 10px;
	background: #3F51B5;
  	width: 100%;
    padding-top: 284px;
	text-align: center;
	position: absolute;
    padding-bottom: 120px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;

}
.header2{
	margin: 0 auto;
	font-weight: 400;
	font-size: 44px;
	font-family: Montserrat;
	color: #363636;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	padding-top: 20px;
	text-align: center;
	position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #FFC107;
    margin-top: 20px;
}
.active{
	color: #0D47A1 !important;
	background: #ddd !important;
}
.dashboard{
	text-align: center;
    margin-top: 365px;
}
.panel-group{
	text-align: left !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

}
.panel{
	margin-top: 0px !important;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
}
.panel-default>.panel-heading {
	background: #fff;
}
/*Profile*/
.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.row{
    margin-left: -15px;
    margin-right: -15px !important;
   }
.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}
/*Tabs*/

.tab-wrap {
  width: 100%;

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content label {
  color: white;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
  display: block;
}
input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 4) * 0);
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 4) * 1);
}
input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
  left: calc((100% / 4) * 2);
}
input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
  left: calc((100% / 4) * 3);
}
input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}

label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: #304FFE;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: #FFC107;
  width: calc(100% / 4);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 8px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
.panel-group .panel {
	border-bottom: 1px solid #ddd;
	
}
.tab-label-content {
  width: 100%;
}
.tab-label-content .tab-content {
  position: absolute;
  line-height: 130%;
  display: none;
  left: 0;
  right: 0;
  top: 56px;
      z-index: -1;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: none;
}
.hotel-img{
	max-width: 70px;
	height: 70px;
	margin: 10px;
	border : 1px solid #ccc;
	border-radius: 4px;
}
.like-btn{
	margin-left: 10px;
	margin-right: 10px;
    line-height: 2.2;
    right: 0;
    position: absolute;
}
#heard{
	cursor: pointer;
}
.heart-inactive{
	color: #ddd;
}
.heart:hover{
	color: red;
	text-align: right;
	transition: all linear 0.5s;
}
.panel-title{
	display: flex;
	position: relative;
}